version: 2
jobs:
  build:
    working_directory: ~/SelenideDocker
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - restore_cache:
          key: ~/SelenideDocker-{{ checksum "pom.xml" }}
      - run: mvn clean test site
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/site/allure-maven-plugin
      - store_artifacts:
          path: build/reports/tests

workflows:
   version: 2
   commit:
     jobs:
      - build
   nightly:
     triggers:
       - schedule:
          # 3am UTC
          cron: "00 03 * * *"
          filters:
            branches:
              only: master
     jobs:
       - build
